<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services-Seek And Find</title>
    <link rel="stylesheet" type="text/css" href="/static/css/tots.css">
</head>
<body>
    <div class="services-body">
        <div class="logo"><img src="L1.png"></div>
        <div class="back-home"><a href="index"style="text-decoration: none;">Back>home</a></div>
        <p style="color: white;"><h3>under development !! sorry for the inconvinience</h3></p>
   </div>
</body>
</html>